body {
  font-family: sans-serif;
}

a {
  display: block;
  margin: 10px;
  text-decoration: none;
}

.alert {
  width: 300px;
  height: 100px;
  background-color: green;
  color: white;
  text-align: center;
  padding-top: 40px;
  opacity: 0;
}

.is-visible {
  opacity: 1;
}

p {
  text-align: center;
  font-size: 60px;
}

button {
  display: inline-block;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  padding: 5 10;
  border-radius: 5px;
  background-color: brown;
}
.start {
  background-color: green;
}

.start:disabled {
  background-color: #c1c1c1;
}

.stop {
  background-color: red;
}
